<%= link_to "Home", root_path %>

<h1><%= @name %></h1>

<a href="/items/category/<%= "#{(@name.downcase)}" %>/all">View All <%= @name %></a>

<% if @cat1 %>
  <a href="/items/category/<%= "#{@gender}" %>/<%= "#{(@cat1.downcase)}/view" %>">View All <%= @cat1 %></a>
<% end %>

<ul>
  <% @children.each do |cat| %>
    <li>
      <a href="/items/category/<%= @gender_old %>/<%= cat.name %>">
        <%= cat.name %>
      </a>
    </li>
  <% end %>
</ul>