<h1>Sign Up</h1>

  <% if !@user.errors.empty? %>
    <% @user.errors.full_messages.each do |msg| %>
    <p class="error"><%= msg %></p>
    <% end %>
  <% end %>

  <%= form_tag '/sign_up', id: "signUp" do %>

    <p>
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username] %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </p>
    <p>
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
    </p>
    <button>Sign Up</button>

<% end %>

<script>
    // wait for the DOM to be loaded
    $(document).ready(function() {
        // bind 'myForm' and provide a simple callback function
        $('#signUp').ajaxForm(function() {
            alert("Thank you for signing up!");
            window.location = "/";
        });
    });
</script>

