
<!-- captures and sends color value to show as filter -->
<%= form_tag item_path, :method => 'get', :id => "all_colors" do %>
<button>all</button>
<% end %>

<%= form_tag item_path, :method => 'get', :id => "black" do %>
<%= hidden_field_tag 'color', 'Black' %>
<button>black</button>
<% end %>

<%= form_tag item_path, :method => 'get', :id => "white" do %>
<%= hidden_field_tag 'color', 'White'  %>
<button>white</button>
<% end %>

<%= form_tag item_path, :method => 'get', :id => "pink" do %>
<%= hidden_field_tag 'color', 'Pink' %>
<button>pink</button>
<% end %>

<%= form_tag item_path, :method => 'get', :id => "red" do %>
<%= hidden_field_tag 'color', 'Red' %>
<button>red</button>
<% end %>

<%= form_tag item_path, :method => 'get', :id => "blue" do %>
<%= hidden_field_tag 'color', 'Blue' %>
<button>blue</button>
<% end %>