<%= link_to "Home", root_path %>

  <div id="viewport">
    <ul class="stack" id="img-source">
      <li class="spades">
         <img src="<%= @item.image_url400 %>" alt="">
          
          <div class="yes"></div>
          <div class="no"></div>
      </li>
    </ul>
  </div>  

<div id="item-details">
  <p><%= @item.name %></p>
  <p>$<%= @item.price %> AUD</p>
</div>


<%= render 'items/history' %>
<%= render 'items/color' %>



<p><%= @liked_items  %></p>




